* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.container {
    max-width: 100%;
    /* background-color: rgb(198, 152, 241); */
    background-image: url(bgtravel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin: auto;
}

.container h1,
p {
    text-align: center;
    padding-bottom: 20px;
}

p {
    font-size: 25px;
}

.submittingMess{
    color:green;
    font-size: 28px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input,
textarea {
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}